<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>EJS</title>
  </head>
  <body style="background-color: gray; min-height: 100vh">
    <%- include('header.ejs') %>
    <h1>He, it's <%= dayType %>, <%= advice %></h1>
    <ul>
      <% for (let i=0; i<list.length; i++) { %>
        <li><%= list[i] %></li>
        <% } %>
    </ul>
    <%- include('footer.ejs') %>
  </body>
</html>
